{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
         {{category.description|truncatewords:155}}
    {% else %}
        welcome to RECYCLE READ store where you can buys different Used books....
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
         {{category.name}}-vi-store
    {% else %}
        see our new items-vi volt store
    {% endif %}
{% endblock %}

{%  block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shopapp:allProdCat' %}"></a>Our product collection</p>
        </div>
                </div>

    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}} "alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center my_title" >{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner3.png' %}" width="3020" alt="our products">
</div>
<br>
<div>
    <h1 class="text-center "> OUR PRODUCT COLLECTION</h1>
    <p class="text-justify">Welcome to our Used Book Store! We're excited to present you with a diverse collection of pre-loved books that are waiting to find new homes and enthusiastic readers like you. Our carefully curated selection spans various genres, from timeless classics to contemporary bestsellers, catering to every book lover's taste.Each book listed on our website undergoes a thorough examination by our expert team. We take pride in offering only the highest quality used books, ensuring that they are in good condition or better. While some books may exhibit signs of gentle wear or slight aging, we strive to accurately describe their condition so you can make an informed decision before purchasing.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col_9 col-sm-12 col-md-4  xol-lg-4">
            <div class="card text-center" style="width:18rem; margin:10px;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:250px; height:250px;" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
          <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                  <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
</div>
{% endblock %}





